/* * {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 70vw;
}

.panel {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(227, 234, 241);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.panel.active {
  flex: 2;
  border-radius: 20px;
}

.panel.active h3 {
  opacity: 1;
  text-decoration: underline;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.container {
  width: 90vh;
  display: flex;
}

.panel {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin: 10px;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
  border-radius: 50px;
}

.panel.active {
  flex: 5;
}

.panel h3 {
  color: grey;
  text-decoration: underline;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
